<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {{!-- Compiled and Materialize CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>To Eat Or Not To Eat The Burger</title>

</head>

{{{ body }}}
    
</html>